<ion-view title="My Receipts">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="searchReceipt">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Receipt">
            </label>
        </form>
        <div class="spacer" style="width: 283px; height: 0px;"></div>
        <ion-list>
            <ion-item class="item-thumbnail-left" href="#/page3">
                <img>
                <h2>Receipt</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/page3">
                <img>
                <h2>Receipt2</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/page3">
                <img>
                <h2>Receipt3</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" href="#/page3">
                <img>
                <h2>Receipt4</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>