<ion-view title="Receive Receipts">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <h4>Accept Digital Receipts via :</h4>
            <div class="spacer" style="width: 283px; height: 22px;"></div>
            <ion-toggle toggle-class="toggle-positive">Bluetooth</ion-toggle>
            <div class="spacer" style="width: 283px; height: 18px;"></div>
            <ion-toggle toggle-class="toggle-calm">NFC</ion-toggle>
        </form>
    </ion-content>
</ion-view>